body,html{
height:100vh;
}

div{
  border:solid red 2px;
  }

h5{
  background-color: aquamarine;
}

p{
  font-size: 15px;
}

.App {
  background:blueviolet ;
  display: grid;
  grid-template-columns:25% 25% 25% 25%;
  grid-template-rows:30% 70%;
  grid-template-areas:
  "Sidebar Reviews AverageRating SentimentAnalysis"
  "Sidebar";
  gap: 15px;
  padding: 10px;
}

.App  div {
  text-align: center;
  padding: 20px;
  font-size: 15px;
}

.Sidebar{grid-area:Sidebar;
}
.Reviews{grid-area:Reviews;
}
.AverageRating{grid-area:AverageRating;
}
.SentimentAnalysis{grid-area:SentimentAnalysis ;
}
.WebsiteVisitors{grid-area:WebsiteVisitors ;
} 